/* div#myModal{
    overflow:hidden;
}

.fade.in {
    opacity: 1;
}

.custom-modal-dialog{
    transform: translate(0,0) !important;
}

@media (min-width: 768px){
    .custom-modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}

.modal-backdrop{
    z-index:0 !important;
} */
