<div id="bodyContent">
  <div class="col-lg-12">
    <div class="jumbotron text-center">
      <h1>RAM Admin Portal</h1>
      <p>Welcome to RAM Admin Portal</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="row" id="contractorLayoutHeader">
            <img src="assets/img/contractors.svg" alt="Contractors Organization" height="42" width="42">
            <h3 class="ml-2">Contractor Organizations Management</h3>
          </div>
          <div class="ml-custom">
            <a routerLink="/contractors">Contractors Organizations</a>
          </div>
          <div class="ml-custom">
            <a routerLink="/AppRegistration">App Registration</a>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6" id="chartsLayout">
          <div class="row">
            <img src="assets/img/chart.svg" alt="Charts" height="42" width="42">
            <h3 class="ml-2">Chart Builder</h3>
          </div>
          <div class="ml-custom">
            <a routerLink="/charts">Charts</a>
          </div>
          <div class="ml-custom">
            <a routerLink="/variables">Variables</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>